{ text-align: center; }
body {
    background-color: #9e2820;
}
{ height: 100%; margin: 0; } body { display: flex; align-items: center; /* vertical centering / justify-content: center;/ horizontal centering / text-align: center; / center text inside elements / min-height: 100vh; / ensure full viewport height */ }
