@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


{ text-align: center; }
body {
    background-color: #9e2820;
    font-family: 'Press Start 2P', system-ui;
}
{ height: 100%; margin: 0; } body { display: flex; align-items: center;}

